.a {
    background-color: #0ff;
}

.b {
    background-color: #7fffd4;
}

.third-container {
    background-color: #ffe4c4;
}

.forth-container {
    background-color: #8a2be2;
}

.i {
    background-color: #5f9ea0;
}